{% load static %}
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
        <title>Sign in & Sign up Form</title>
    </head>
    <body>
        <div class="mainDiv">
            <div class="cardStyle">
                <img src="{% static 'img/logo.png' %}" id="signupLogo"/>
               
                 <h2 class="formTitle">
                    A mail has to been sent your email. Please Kindly check you email for reset your password.
                </h2>
               
            </div>
          </div>
    </body>
</html>
